.buttons {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.buttons button {
    padding: 12px;
    cursor: pointer;
    background-color: gray;
    color: #fff;
    font-size: 22px;
    border-radius: 8px;
    border-color: gray;
}

.buttons button:hover {
    background-color: transparent;
}