.header-container {
    display: flex;
    width: 100vw;
    background-color: grey;
    border-color: grey;
    margin: 16px 0px;
    justify-content: space-around;
}

.header-container a {
    text-decoration: none;
    padding: 12px;
    margin: 0px 8px;
    cursor: pointer;
    font-size: 18px;
    background-color: rgb(61, 57, 57);
    border-color: rgb(61, 57, 57);
    color: #fff;
    letter-spacing: 5px;
}

.header-container a:hover {
    background-color: transparent;
    color: rgb(104, 51, 51);
}

