.container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.container-btn {
    display: flex;
    gap: 22px;
    margin-top: 16px;
}

.container-btn button {
    padding: 8px 14px;
    background-color: rgb(109, 101, 101);
    border-color: rgb(109, 101, 101);
    color: #fff;
    cursor: pointer;
}

.container-btn button:hover {
    background-color: orange;
    border-color: orange;
    color: black;
}